:root{
    --color-base: #F2E3BC;
    --color-dark: #414535;
    --color-blue: #96BBBB;
    --color-chan: #38a700;
    --color-su: #ff82a9;
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box; 
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 25vh;
    word-break: keep-all;
    font-size: 2rem;
}

/* max WIDTH HEIGHT = 100% */
p,
.clicked .clue__text, .clicked .selected__clue {
    max-width: 100%;
    max-height: 100%;
}

/* WIDTH HEIGHT = 100% */
#begin, .box, .bag_container, .text,
.text, .bag, .item {
    width: 100%;
    height: 100%;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

p {
    margin-block-start: 1px;
    margin-block-end: 1px;
    padding: 1rem 0;
}

#begin {
    position: fixed;
    background: var(--color-blue);
    z-index: 1;
}


/* top */

.top {
    display: flex;
    overflow: hidden;
    position: relative;
}

.icon {
    position: absolute;
    width: 5rem;
    height: 5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    flex-wrap: wrap;
    height: fit-content;
}

.menu__icon {
    position: static;
    margin: 1rem;
    fill: var(--color-dark);
}

.menu__list {
    background: var(--color-blue);
    opacity: .5;
    list-style: none;
    padding-left: 0;
    margin: 0 0 1rem 1rem;
    border-radius: 5px;
    color: white;
}

.menu__item {
    padding: 1rem 3rem;
    font-size: 3rem;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

.collapsible--expanded .menu__icon {
    fill: var(--color-blue);
}

.to-left {
    top: 50%;
    rotate: 180deg;
}

.to-right {
    top: 50%;
    right: 0;
}

.to-down {
    top: 80%;
    left: 45%;
    rotate: 90deg;
}

.to-up {
    top: 70%;
    left: 10%;
    rotate: 270deg;
}

.to-close {
    top: 80%;
    left: 45%;
    rotate: 90deg;
}

.to-far {
    top: 42%;
    left: 42%;
    rotate: 270deg;
}

.to-right, .to-left, .to-down, .to-up, .to-close, .to-far {
    transition: transform 0.3s;
    opacity: 0.70;
}

.to-left:active, .to-right:active,
.to-down:active, .to-up:active,
.to-close:active, .to-far:active {
    transform: scale(1.5);
}

.full_pic {
    width: 100vw;
}

.ahmola {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 6rem;
    max-width: 90%;
    min-width: 25rem;
}

.ahmola1 {
    top: 42%;
    left: 21%;
}

.ahmola2 {
    top: 32%;
    left: 10%;
}

.ahmola3 {
    top: 35%;
    left: 10%;
}

.mg {
    fill: white;
    filter: drop-shadow(0px 0px 4px grey);
    opacity: 0.85;
}

.mg--clicked {
    display: none;
}

.mg--clicked + .input {
    display: block;
    position: absolute;
}

.input {
    display: none;
}

.input--correct .clue, .input--correct .btn{
    display: none;
}

.clue {
    border: 1px solid var(--color-dark);
    outline: 0;
    border-radius: 5px;
    padding: 1rem 0;
    max-width: fit-content;
    color: var(--color-blue);
    text-align: center;
}

.btn {
    background: var(--color-blue);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 1rem;
    height: 100%;
}

picture, .pic {
    align-self: center;
}


.click{
    position: absolute;
    left: 0;
    overflow: hidden;
}

.click__detective {
    clip-path: ellipse(24% 20% at 53% 49%);
}

.click__chest {
    clip-path: ellipse(14% 7% at 16% 65%);
}

.click__map {
    clip-path: ellipse(16% 11% at 14% 36%);
}

.click__door {
    clip-path: ellipse(8% 5% at 50% 70%);
}

.click__photo1 {
    clip-path: ellipse(9% 5% at 25% 62%);
}

.click__note {
    clip-path: ellipse(7% 3% at 80% 21%);
}

.click__board {
    clip-path: ellipse(32% 15% at 62% 24%);
}

.click__cab1 {
    clip-path: ellipse(9% 4% at 45% 41%);
}

.click__cab2 {
    clip-path: ellipse(9% 4% at 58% 79%);
}

.click__cab3 {
    clip-path: ellipse(9% 4% at 72% 53%);
}

.click__cab4 {
    clip-path: ellipse(9% 4% at 85% 74%);
}

.click__cab5 {
    clip-path: ellipse(9% 4% at 98% 58%);
}

.click__stickynote{
    clip-path: polygon(82% 50%, 67% 51%, 68% 57%, 81% 57%);
    opacity: 0.5;
}

.click__lyrics{
    clip-path: polygon(18% 35%, 36% 35%, 36% 48%, 18% 48%);
    opacity: 0.5;
}

.click__book1{
    clip-path: polygon(0% 29%, 30% 29%, 30% 39%, 0% 39%);
}

.click__book2{
    clip-path: polygon(31% 51%, 75% 51%, 75% 61%, 31% 61%);
}

.click__sctdoor{
    clip-path: polygon(0% 23%, 31% 23%, 31% 76%, 0% 76%);
}

.click__elevator{
    clip-path: polygon(37% 30%, 62% 30%, 62% 47%, 37% 47%);
}

.click__1{
    clip-path: polygon(8% 29%, 23% 31%, 22% 59%, 8% 69%);
}

.click__2{
    clip-path: polygon(78% 31%, 94% 28%, 93% 71%, 78% 59%);
}

.click__3{
    clip-path: polygon(26% 32%, 34% 33%, 34% 49%, 26% 55%);
}

.click__4{
    clip-path: polygon(67% 32%, 76% 31%, 76% 56%, 67% 49%);
}

.click__5{
    clip-path: polygon(11% 30%, 24% 31%,23% 57%, 10% 67%);
}

.click__6{
    clip-path: polygon(77% 31%, 91% 28%, 91% 68%, 77% 57%);
}

.click__7{
    clip-path: polygon(26% 31%, 34% 32%, 34% 50%, 26% 55%);
}

.click__8{
    clip-path: polygon(66% 32%, 74% 31%, 75% 55%, 67% 49%);
}

.list-container {
    background: #f9e2c3;
    position: relative;
    margin: auto;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    font-size: 1.25rem;
}

.list-item {
    display: flex;
    float: left;
    align-self: baseline;
    padding: 0.7rem;
    text-orientation: upright;
    writing-mode: vertical-lr;
}

.list-item-name {
    font-family: "Consolas";
    user-select: none;
}

.book_1 {
    background: #ffaaac;
}
.book_2 {
    background: #ffd5ad;
}
.book_3 {
    background: #ffffff;
}
.book_4 {
    background: #c1d2e0;
}
.book_5 {
    background: #c9e9c3;
}
.book_6 {
    background: #ff979a;
}
.book_7 {
    background: #fff1bf;
}
.book_8 {
    background: #ceecc8;
}
.book_9 {
    background: #d1ebff;
}

#pic_8{
    position: absolute;
    left: 27.5%;
}

.evidence {
    filter: drop-shadow(0px 0px 5px var(--color-dark));
    transition: transform 0.1s;
}

.doors {
    transition: transform 0.1s;
}

.evidence:active, .doors:active {
    transform: scale(1.05);
}

#pic_10 {
    position: fixed;
}

.bag__item{
    left: 0;
    position: fixed;
    overflow: hidden;
    align-self: center;
}

.item_desc {
    background: var(--color-dark);
    color: var(--color-base);
    position: absolute;
    bottom: 5%;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    line-height: 1.4;
    width: 100vw;
}



/* bottom */

.bottom {
    display: flex;
    padding: 0 10px 10px 10px;
    position: relative;
}

.frog, .bunny {
    top: -10%;
}

.frog {
    right: 85%;
}

.bunny {
    left: 85%;
}

.box {
    display: flex;
    background: var(--color-base);
    border: 5px dotted #b6a989;
    overflow: scroll;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
}

.text {
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    color: var(--color-dark);
    line-height: 1.4;    
}

.clue__text, .clue__text * {
    max-width: 0;
    margin: 0;
    overflow: scroll;
}

.bag {
    display: grid;
    margin: 0;
    padding: 1rem;
    grid-gap: 1rem;
}

.bag1 {
    grid-template-columns: repeat(2, 1fr);
}

.bag2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.item {
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 2rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.item:nth-child(odd){
    background: rgb(56, 167, 0, 0.5);
}

.item:nth-child(even) {
    background: rgb(255, 130, 169, 0.5);
}

.collected__item, .collected__item * {
    width: 100%;
    opacity: 0.5;
}

.selected__item, .selected__item *{
    opacity: 1;
}