<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"
    />
    <title>AKMU 10</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body class="s3">
    <div class="top">
      <nav class="menu collapsible">
        <svg class="icon menu__icon">
          <use xlink:href="../images/sprite.svg#menu"></use>
        </svg>
        <ul class="menu__list collapsible__content">
          <li class="menu__item"><a href="../start.html">Restart</a></li>
        </ul>
      </nav>
      <div class="ahmola ahmola1">
        <svg class="icon mg">
          <use xlink:href="../images/sprite.svg#magnifying-glass"></use>
        </svg>
        <div class="input">
          <input
            class="clue"
            id="numb"
            type="number"
            minlength="6"
            maxlength="6"
            placeholder="------"
          />
          <button class="btn" type="button" onclick="myFunction1()">
            Open
          </button>
          <!-- <p id="demo"></p> -->
        </div>
      </div>
      <picture>
        <source type="image/webp" srcset="../images/akmuEG3-1chest_.webp" />
        <source type="image/png" srcset="../images/akmuEG3-1chest_.PNG" />
        <img class="scene" src="../images/akmuEG3-1chest_.PNG" alt="" />
      </picture>
    </div>
    <div class="bottom">
      <a href="3_14.html">
        <svg class="icon frog">
          <use xlink:href="../images/sprite.svg#CHANfrog1"></use>
        </svg>
        <svg class="icon bunny">
          <use xlink:href="../images/sprite.svg#SUbunny1"></use>
        </svg>
        <div class="box">
          <div class="text">
            <p>
              오늘을 위해 고이 모셔둔<br />
              내 탐정 도구들이 들어있는<br />
              보물상자다.<br />
              6자리 숫자의 비밀번호라...<br />
              내가 뭘로 설정했더라?
            </p>
          </div>
        </div>
      </a>
    </div>
    <script src="../js/main.js"></script>
    <script src="../js/mg.js"></script>
    <script src="../js/input.js"></script>
  </body>
</html>
